<div class="container" id="main">

    {{lee}}
    <!--    OPCIONAL    -->
    <!-- Puede que modificando el sacar para que coja los campos de 0, despues de ello donde se comprueban que no sean iguales,
        podriamos guardar el que se añade a un array que sera de opcionales, y habra que comprobar por los dos lados, desde t3
        y desde keys, y haber que hacemos con keys2.

        A la hora de generar comprobar si la llave de opcional esta en datos[0], y si no es asi ...,
        en el caso de que este habra que pasar la antes para que haga un input que no sea requerido. -->
    <!--    OPCIONAL    -->
    <!-- Habra que considerar con campos opcionales -->
    <div class="center-block">
        <div id="header"></div>
        <div id="content">

            <h1>Gestor JSON Angular 2</h1>

            <!-- EMPIEZA LA TABLA -->

            <table class="table table-striped">

                <thead>
                    <tr *ngIf="datos">
                        <template ngFor let-key2 [ngForOf]="keys2" let-key2Index="index">
                            <th *ngIf="!isObject(datos[0][key2])" ngDefaultControl>{{key2}}</th>
                            <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                                <th *ngIf="datos[0][key2][key] !== empty" ngDefaultControl>{{key}}</th>
                            </template>
                        </template>
                        <th>Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let post of datos | sortBy : 'id'">
                        <template ngFor let-key2 [ngForOf]="keys2" let-key2Index="index">
                            <td *ngIf="!isObject(post[key2])" ngDefaultControl>{{post[key2]}}</td>
                            <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                                <td *ngIf="post[key2][key] !== empty">{{post[key2][key]}}</td>
                            </template>
                        </template>
                        <td>
                            <button type="button" class="btn btn-warning" (click)="alform(post)">Añadir</button>
                            <button type="button" class="btn btn-warning" (click)="delet(post)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- ACABA LA TABLA -->
            <hr>
            <div class="panel-group">
                <div class="panel panel-default">
                    <!--EMPIEZA EL FORMULARIO-->
                    <form #form="ngForm">
                        <my-collap nombre="Fields" id="Fields">
                            <div class="panel-body">
                                <div class="panel panel-default">

                                    <template ngFor let-key2 [ngForOf]="keys2" let-key2Index="index">

                                        <div *ngIf="tipes[key2]=='object'" class="panel panel-default">

                                            <my-collap [nombre]="key2" [id]="key2">
                                                <div class="panel-body">

                                                    <template ngFor let-key [ngForOf]="keys">
                                                        <template [ngIf]="datos[0][key2][key] !== empty && key == optionals[key]">
                                                            <div *ngIf="tipes[key] != 'boolean'" class="form-group row">
                                                                <label class="col-sm-1 col-form-label">{{key}}: </label>
                                                                <div class="col-sm-3">
                                                                    <input type="text" class="form-control" [name]="key" pattern="[a-zA-Z0-9 ]*" [(ngModel)]="test[key2][key]" #zip="ngModel" />
                                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                        <div [hidden]="!zip.errors.maxlength">
                                                                            El campo solo puede tener hasta 24 caracteres.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.pattern">
                                                                            El formato no es adecuado, quite los caracteres especiales.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="tipes[key] == 'boolean'" class="form-group row">
                                                                <label class="col-sm-1 col-form-label">{{key}}: </label>
                                                                <div class="col-sm-3">
                                                                    <label class="radio-inline"><input type="radio" [name]="key" (change)="onCheck(true, key2, key)" [checked]="test[key2][key]" value=true />Verdadero</label>
                                                                    <label class="radio-inline"><input type="radio" [name]="key" (change)="onCheck(false, key2, key)" [checked]="!test[key2][key]" value=false />Falso</label>
                                                                </div>
                                                            </div>
                                                        </template>

                                                        <template [ngIf]="datos[0][key2][key] !== empty && key != optionals[key]">

                                                            <div *ngIf="tipes[key] == 'string'" class="form-group row">
                                                                <label class="col-sm-1 col-form-label">{{key}}: </label>
                                                                <div class="col-sm-3">
                                                                    <input type="text" class="form-control" [name]="key" [(ngModel)]="test[key2][key]" required pattern="[a-zA-Z0-9 .:,]*" minlength="4" maxlength="24" #zip="ngModel" />
                                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                        <div [hidden]="!zip.errors.required">
                                                                            El campo es requerido.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.minlength">
                                                                            El campo tiene que tener 4 caracteres al menos.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.maxlength">
                                                                            El campo solo puede tener hasta 24 caracteres.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.pattern">
                                                                            El formato no es adecuado, quite los caracteres especiales.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div *ngIf="tipes[key] == 'boolean'" class="form-group row">
                                                                <label class="col-sm-1 col-form-label">{{key}}: </label>
                                                                <div class="col-sm-3">
                                                                    <label class="radio-inline"><input type="radio" [name]="key" (change)="onCheck(true, key2, key)" [checked]="test[key2][key]" value=true />Verdadero</label>
                                                                    <label class="radio-inline"><input type="radio" [name]="key" (change)="onCheck(false, key2, key)" [checked]="!test[key2][key]" value=false />Falso</label>
                                                                </div>
                                                            </div>

                                                            <div *ngIf="tipes[key] != 'string' && tipes[key] != 'boolean'" class="form-group row">
                                                                <label class="col-sm-1 col-form-label">{{key}}: </label>
                                                                <div class="col-sm-3">
                                                                    <input type="text" class="form-control" [name]="key" [(ngModel)]="test[key2][key]" required pattern="[0-9.]*" maxlength="6" #zip="ngModel" />
                                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                        <div [hidden]="!zip.errors.required">
                                                                            El campo es requerido.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.pattern">
                                                                            Introduzca numeros.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.maxlength">
                                                                            El campo solo puede tener hasta 6 caracteres.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </template>
                                                    </template>
                                                </div>

                                            </my-collap>
                                        </div>



                                        <template [ngIf]="key2 !=id && key2 == optionals[key2]">
                                            <div *ngIf="tipes[key2] == 'number'" class="form-group row">
                                                <label class="col-sm-1 col-form-label">{{key2}}*: </label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" [name]="key2" pattern="[0-9]*" maxlength="7" [(ngModel)]="test[key2]" #zip="ngModel" />
                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                        <div [hidden]="!zip.errors.maxlength">
                                                            El campo solo puede tener hasta 7 caracteres.
                                                        </div>
                                                        <div [hidden]="!zip.errors.pattern">
                                                            solo acepta numeros.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="tipes[key2] == 'boolean'" class="form-group row">
                                                <label class="col-sm-1 col-form-label">{{key2}}: </label>
                                                <div class="col-sm-3">
                                                    <label class="radio-inline"><input type="radio" [name]="key2" (change)="onCheck(true, key2)" [checked]="test[key2]" value=true />Verdadero</label>
                                                    <label class="radio-inline"><input type="radio" [name]="key2" (change)="onCheck(false, key2)" [checked]="!test[key2]" value=false />Falso</label>
                                                </div>
                                            </div>
                                        </template>

                                        <template [ngIf]="key2 != 'id' && key2 != optionals[key2]">
                                            <div *ngIf="tipes[key2] != 'object' && tipes[key2] != 'string' && tipes[key2] != 'boolean'" class="form-group row">
                                                <label class="col-sm-1 col-form-label">{{key2}}: </label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" [name]="key2" pattern="[0-9.]*" [(ngModel)]="test[key2]" required maxlength="7" #zip="ngModel" />
                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                        <div [hidden]="!zip.errors.required">
                                                            El campo es requerido.
                                                        </div>
                                                        <div [hidden]="!zip.errors.maxlength">
                                                            El campo solo puede tener hasta 7 cifras.
                                                        </div>
                                                        <div [hidden]="!zip.errors.pattern">
                                                            solo acepta numeros.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="tipes[key2] == 'string'" class="form-group row">
                                                <label class="col-sm-1 col-form-label">{{key2}}: </label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" [name]="key2" [(ngModel)]="test[key2]" required pattern="[a-zA-Z0-9 .:,]*" minlength="4" maxlength="24" #zip="ngModel" />
                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                        <div [hidden]="!zip.errors.required">
                                                            El campo es requerido.
                                                        </div>
                                                        <div [hidden]="!zip.errors.minlength">
                                                            El campo tiene que tener 4 caracteres al menos.
                                                        </div>
                                                        <div [hidden]="!zip.errors.maxlength">
                                                            El campo solo puede tener hasta 24 caracteres.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="tipes[key2] == 'boolean'" class="form-group row">
                                                <label class="col-sm-1 col-form-label">{{key2}}: </label>
                                                <div class="col-sm-3">
                                                    <label class="radio-inline"><input type="radio" [name]="key2" (change)="onCheck(true, key2)" [checked]="test[key2]" value=true />Verdadero</label>
                                                    <label class="radio-inline"><input type="radio" [name]="key2" (change)="onCheck(false, key2)" [checked]="!test[key2]" value=false />Falso</label>
                                                </div>
                                            </div>
                                        </template>
                                    </template>

                                </div>
                            </div>
                        </my-collap>

                        <button type="button" class="btn btn-warning" (click)="addb(test)" [disabled]="!form.valid">Añadir</button>
                        <button type="button" class="btn btn-warning" (click)="modificar(post)" [disabled]="!form.valid">Modificar</button>
                        <div class="aler alert-danger" [hidden]="validation">
                            <p *ngFor="let m of messageE">{{m}}</p>
                        </div>
                    </form>
                    <!-- ACABA EL FORMULARIO -->
                </div>
            </div>

            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <!--<generator [datos]="datos" [url]="DATA2"></generator>-->
        </div>
    </div>
</div>