<div id="app">


    <h1>Gestor JSON Angular 2</h1>
    <h2>{{api.toUpperCase()}}</h2>

    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li *ngFor="let db of bbdd">
                <a (click)="changeJson(db)">{{db.toUpperCase()}}</a>
            </li>
        </ul>
        <ul *ngIf="dobleVal != null" class="pull-right nav navbar-nav">
            <li *ngIf="!dobleVal">
                <a (click)="dobleMant()">Doble tabla</a>
            </li>
            <li *ngIf="dobleVal">
                <a (click)="dobleMant()">Desactivar Doble Tabla</a>
            </li>
        </ul>
    </nav>

    <div class="panel panel-default">
        <my-collap nombre="BUSCADOR">
            <!--EMPIEZA EL FORMULARIO-->
            <form>
                <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                    <form-noReq [tipes]="tipes" [key]="key" [obj]="buscado" (inputCreate)="buscado = $event"></form-noReq>
                </template>
                <template ngFor let-key [ngForOf]="keysHijas" let-keyIndex="index">
                    <form-noReq [tipes]="tipes" [key]="key" [obj]="buscado" (inputCreate)="buscado = $event"></form-noReq>
                </template>
            </form>
        </my-collap>
    </div>

    <!-- EMPIEZA LA TABLA -->
    <div id="content">
        <table class="table table-striped">
            <!--CABECERAS, QUE SE CORRESPONDERAN CON EL NOMBRE DE LOS CAMPOS DEL JSON QUE NO SEAN OBJETOS-->
            <thead>
                <tr *ngIf="datos">
                    <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                        <th *ngIf="tipes[key] != 'object'" ngDefaultControl>{{key}}</th>
                    </template>
                    <template ngFor let-keyH [ngForOf]="keysHijas" let-keyHIndex="index">
                        <th ngDefaultControl>{{keyH}}</th>
                    </template>

                    <th>Opciones</th>
                </tr>
            </thead>

            <!--VALORES DE LOS RESPECTIVOS CAMPOS-->
            <tbody>
                <!--Me preocupa que si cambio el *ngFor por ngIf ya no ordene por id, solo apunto para poder recuperar sin buscar versiones previas-->
                <template ngFor let-post [ngForOf]="datos | sortBy : 'id'">
                    <tr *ngIf="buscar(post)">
                        <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                            <td *ngIf="tipes[key] != 'object'" ngDefaultControl>{{post[key]}}</td>
                        </template>
                        <template ngFor let-keyH [ngForOf]="keysHijas" let-keyHIndex="index">
                            <td *ngIf="tipes[keyH] != 'object'" ngDefaultControl>{{post[sons[keyH]][keyH]}}</td>
                        </template>

                        <td>
                            <button type="button" class="btn btn-warning" (click)="alform(post)">Añadir</button>
                            <button type="button" class="btn btn-warning" (click)="delet(post)">Eliminar</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <!-- ACABA LA TABLA -->
    </div>

    <hr>

    <div class="panel-group">
        <div class="panel panel-default">

            <!--EMPIEZA EL FORMULARIO-->
            <form #form="ngForm">

                <my-collap nombre="Campos" isOpen=true>
                    <div class="panel-body">
                        <div class="panel panel-default">

                            <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                                <div *ngIf="tipes[key]=='object'  && !optionals[key]" class="panel panel-default">

                                    <!--AQUI TENEMOS EL CODIGO QUE SE ENCARGARA DE LOS ELEMENTOS DEL JSON QUE SON OBJETOS,
                                    PONIENDOLOS COMO DESPLEGABLES CON SUS ELEMENTOS COMO INPUTS DENTRO DE ESTE-->
                                    <my-collap [nombre]="key" isOpen=true>
                                        <div class="panel-body">

                                            <template ngFor let-keyH [ngForOf]="keysHijas">

                                                <!--LAS ESTRUCTURAS OBJETOS NO OPCIONALES-->
                                                <template [ngIf]="sons[keyH] == key">

                                                    <!--INPUTS NO OPCIONALES-->
                                                    <template [ngIf]="!optionals[keyH]">
                                                        <form-req [tipes]="tipes" [key]="keyH" [obj]="test[sons[keyH]]" [testid]="test['id']" [campos]="campos" (inputCreate)="test[sons[keyH]] = $event"></form-req>
                                                    </template>

                                                    <!--INPUTS OPCIONALES-->
                                                    <template [ngIf]="optionals[keyH]">
                                                        <form-noReq [tipes]="tipes" [key]="keyH" [obj]="test[sons[keyH]]" (inputCreate)="test[sons[keyH]] = $event"></form-noReq>
                                                    </template>
                                                </template>
                                                <!--ACABAN LOS INPUTS HIJOS NO OPCIONALES-->
                                                <!--LAS ESTRUCTURAS OBJETOS SI SON OPCIONALES-->
                                                <div *ngIf="tipes[key]=='object'  && optionals[key]" class="panel panel-default">
                                                    <my-collap [nombre]="key" isOpen=true>
                                                        <template [ngIf]="sons[keyH] == key">
                                                            <form-noReq [tipes]="tipes" [key]="keyH" [obj]="test[sons[keyH]]" (inputCreate)="test[sons[keyH]] = $event"></form-noReq>
                                                        </template>
                                                    </my-collap>
                                                </div>
                                                <!--ACABAN LOS INPUTS HIJOS OPCIONALES-->

                                            </template>
                                        </div>

                                    </my-collap>
                                </div>

                                <!--AQUI IRAN LAS LLAVES DEL NIVEL MAS ALTO QUE NO SEAN OBJETOS, Y SE PONDRAN COMO INPUTS,
                                EL ID NO LO MOSTRAMOS DEBIDO A QUE LO QUEREMOS PARA IDENTIFICAR EL OBJETO Y NO QUEREMOS QUE SEA EDITABLE-->
                                <template [ngIf]="tipes[key] != 'object' && key != 'id'">

                                    <!--ELEMENTOS DEL PRIMER NIVEL NO OPCIONALES-->
                                    <template [ngIf]="!optionals[key]">
                                        <form-req [tipes]="tipes" [key]="key" [obj]="test" [testid]="test['id']" [campos]="campos" (inputCreate)="test = $event"></form-req>
                                    </template>

                                    <!--ELEMENTOS DEL PRIMER NIVEL OPCIONALES-->
                                    <template [ngIf]="optionals[key]">
                                        <form-noReq [tipes]="tipes" [key]="key" [obj]="test" (inputCreate)="test = $event"></form-noReq>
                                    </template>
                                </template>

                            </template>
                        </div>
                    </div>
                </my-collap>

                <button type="button" class="btn btn-warning" (click)="addb(test)" [disabled]="!form.valid"> Añadir </button>
                <button type="button" class="btn btn-warning" (click)="modificar(test)" [disabled]="!form.valid">Modificar</button>
                <div class="aler alert-danger" [hidden]="validation">
                    Criterios no satisfechos, por favor, no repita titulos.
                </div>
            </form>
            <!-- ACABA EL FORMULARIO -->

        </div>
    </div>
</div>