
<div class="panel panel-default">
    <my-collap nombre="BUSCADOR">
        <!--EMPIEZA EL FORMULARIO-->
        <form>
            <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                <form-noReq [tipes]="tipes" [key]="key" [obj]="buscado" testid=null validR=false campos=null (inputCreate)="buscado = $event"></form-noReq>
            </template>
            <template ngFor let-key [ngForOf]="keysHijas" let-keyIndex="index">
                <form-noReq [tipes]="tipes" [key]="key" [obj]="buscado" testid=null validR=false campos=null (inputCreate)="buscado = $event"></form-noReq>
            </template>
        </form>
    </my-collap>
</div>

<!-- EMPIEZA LA TABLA -->
<div id="content">
    <table class="table table-striped">
        <!--CABECERAS, QUE SE CORRESPONDERAN CON EL NOMBRE DE LOS CAMPOS DEL JSON QUE NO SEAN OBJETOS-->
        <thead>
            <tr *ngIf="datos">
                <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                    <th *ngIf="tipes[key] != 'object'" ngDefaultControl>{{key}}</th>
                </template>
                <template ngFor let-keyH [ngForOf]="keysHijas" let-keyHIndex="index">
                    <th ngDefaultControl>{{keyH}}</th>
                </template>

                <th>Opciones</th>
            </tr>
        </thead>

        <!--VALORES DE LOS RESPECTIVOS CAMPOS-->
        <tbody>
            <!--Me preocupa que si cambio el *ngFor por ngIf ya no ordene por id, solo apunto para poder recuperar sin buscar versiones previas-->
            <template ngFor let-post [ngForOf]="datos | sortBy : 'id'">
                <tr *ngIf="buscar(post)">
                    <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                        <td *ngIf="tipes[key] != 'object'" ngDefaultControl>
                            {{post[key]}}
                            <span *ngIf="(campos !== null && key == 'id') && (utils.isObject(campos[post[key]]) && resaltar())" class="glyphicon glyphicon-pushpin"></span>
                        </td>
                    </template>
                    <template ngFor let-keyH [ngForOf]="keysHijas" let-keyHIndex="index">
                        <td *ngIf="tipes[keyH] != 'object'" ngDefaultControl>{{post[sons[keyH]][keyH]}}</td>
                    </template>

                    <td>
                        <button type="button" class="btn btn-warning" (click)="alform(post)">Añadir</button>
                        <button type="button" class="btn btn-warning" (click)="delet(post)">Eliminar</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
    <!-- ACABA LA TABLA -->
</div>