    <!--STRING-->
<div *ngIf="tipes[key] == 'string'" class="form-group row">
    <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
    <div class="col-xs-7 col-sm-5 col-md-3">
        <input type="text" class="form-control" [name]="key" [(ngModel)]="obj[key]" pattern="[a-zA-Z0-9 .,]{0,24}" maxlength="24" #zip="ngModel" />
        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
            <div [hidden]="!zip.errors.pattern">
                Use caracteres permitidos.
            </div>
            <div [hidden]="!zip.errors.maxlength">
                El campo solo puede tener hasta 24 caracteres.
            </div>
        </div>
    </div>
</div>

<!--BOOLEAN-->
<div *ngIf="tipes[key] == 'boolean'" class="form-group row">
    <label class="col-xs-4 col-sm-2 col-form-label">{{key}}:</label>
    <div class="col-xs-8">
        <label class="checkbox-inline"><input type="checkbox" [name]="key" (click)="clRadio($event.target.checked, key, true)" [checked]="obj[key]==true" value=true />Verdadero</label>
        <label class="checkbox-inline"><input type="checkbox" [name]="key" (click)="clRadio($event.target.checked, key, false)" [checked]="obj[key]==false" value=false />Falso</label>
    </div>
</div>

<!--NUMERICO-->
<div *ngIf="tipes[key] !== 'string' && tipes[key] !== 'boolean' && tipes[key] != 'object'" class="form-group row">
    <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
    <div class="col-xs-7 col-sm-5 col-md-3">
        <input type="text" class="form-control" [name]="key" [(ngModel)]="obj[key]" pattern="[0-9.]{,10}" maxlength="10" #zip="ngModel" />
        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
            <div [hidden]="!zip.errors.pattern">
                El valor debe ser numerico.
            </div>
            <div [hidden]="!zip.errors.maxlength">
                El campo solo puede tener hasta 10 cifras.
            </div>
        </div>
    </div>
</div>