* {
    box-sizing: border-box;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align:center;
}

h2 {
    text-align:center;
}

body {
    background-color: orange;
}

.container {
    margin-top: 0.5em;
    margin-bottom: 1em; 
}

#content {
    padding: 1%;
    overflow: auto;
    margin-top:1%;
    display:block;
    background-color: white;
    height:25em;
}

.panel-body {
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.panel-default {
    margin:0.01%
}

.form-group {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.panel-default > .btn-warning {
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}

.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

.row {
    margin-top: 1em;
}

.required {
    color: red;
}
.comp1 {
    width:100%;
    float:left;
}
.comp2 {
    width:100%;
    float:left;
}

#app {
    background-color:cornsilk;
    margin:1%;
    padding:1%;
    border-radius: 0.5% 0.5%;
}
@media (min-width: 1100px) { 

.comp1 {
    width:50%;
}
.comp2 {
    width:50%;
    float:right;

}

}