h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
   background-color: orange;
}

.container {
    background-color:white;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius:0.2%;
}

.panel-body>.panel-default {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.panel-body {
    margin:0;
    padding:0;
}

.form-group{
    margin-bottom:0.5em;
    margin-left:0.6em;
}

.panel-default>.btn-warning{
    margin-top:0.6em;
    margin-bottom:0.4em;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.row {
    margin-top: 1em;
}

.required {
    color:red;
}