<h2>Angular 2 Demo: Zippy Component</h2>
    
<p>This component demonstrates the basics of how data flow in Angular 2 using
component inputs and outpus works. Whenever you open or close the component, it emits an event which logs the state
in the application.</p>
<p>Try it out yourself and click the "Details" link.</p>
<hr>
<br>
<my-zippy (opened)="log('opened')" (closed)="log('closed')" [isOpen]="false">
  Projected content
</my-zippy>

<h3>Logs:</h3>
<ul>
 
</ul>
<hr>
<center>Brought to you by Team <a href="http://thoughtram.io">thoughtram</a></center>
