<h2>Angular 2 </h2>


<div class="panel-group">
    <div class="panel panel-default">
        <my-input [ind]="ind" (perCh)="ind = $event"></my-input>
    </div>

    <div class="panel panel-default">
        <my-zippy [nombre]="nombre1">

            <div class="panel-body">
                <div class="panel panel-default">
                    <my-zippy [nombre]="nombre2">
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <th>{{nom1}}:   </th>
                                    <td><input [(ngModel)]="obj.persona[ind].valores.name"></td>
                                </tr>
                                <tr>
                                    <th>{{nom2}}:   </th>
                                    <td><input [value]="obj.persona[ind].valores.age"></td>
                                    <!--El value sirve igual  -->
                                </tr>
                                <tr>
                                    <th>{{nom3}}:   </th>
                                    <td><input [(ngModel)]="obj.persona[ind].valores.city"></td>
                                </tr>
                            </table>
                        </div>
                    </my-zippy>
                </div>

                <div class="panel panel-default">
                    <my-zippy [nombre]="nombre3">
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <th>{{nom4}}:   </th>
                                    <td>
                                        <select [(ngModel)]="obj.persona[ind].varios.gender">
                                            <option value=0>Mujer</option>
                                            <option value=1>hombre</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </my-zippy>
                </div>

            </div>
        </my-zippy>

    </div>
</div>
<hr>

