<div class="container" id="main">
    <div class="center-block">
        <div id="header"></div>
        <div id="content">

            <h1>Gestor JSON Angular 2</h1>
            {{lee}}
            <!-- EMPIEZA LA TABLA -->
            <div class="panel panel-default">

                <!--EMPIEZA EL FORMULARIO-->
                <form>
                    <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                        <div *ngIf="tipes[key] == 'string'" class="form-group row">
                            <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
                            <div class="col-xs-7 col-sm-5 col-md-3">
                                <input type="text" class="form-control" [name]="key" [(ngModel)]="buscado[key]" pattern="[a-zA-Z0-9 .,]{0,24}" maxlength="24" />
                            </div>
                        </div>

                        <div *ngIf="tipes[key] == 'boolean'" class="form-group row">
                            <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
                            <div class="col-xs-8">
                                <label class="checkbox-inline"><input type="checkbox" [name]="key" (click)="clRadio(buscado, $event.target.checked, $event.target.value)" [checked]="buscado[key] == true" value=true />Verdadero</label>
                                <label class="checkbox-inline"><input type="checkbox" [name]="key" (click)="clRadio(buscado, $event.target.checked, $event.target.value)" [checked]="!buscado[key]==false" value=false />Falso</label>
                            </div>
                        </div>

                        <!--NUMEROS-->
                        <div *ngIf="tipes[key] != 'string' && tipes[key] != 'boolean' && tipes[key] != 'object'" class="form-group row">
                            <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
                            <div class="col-xs-7 col-sm-5 col-md-3">
                                <input type="text" class="form-control" [name]="key" [(ngModel)]="buscado[key]" pattern="[0-9,.]{0,10}" maxlength="10" />
                            </div>
                        </div>
                    </template>
                    <template ngFor let-key [ngForOf]="keysHijas" let-keyIndex="index">
                        <div *ngIf="tipes[key] == 'string'" class="form-group row">
                            <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
                            <div class="col-xs-7 col-sm-5 col-md-3">
                                <input type="text" class="form-control" [name]="key" [(ngModel)]="buscado[key]" pattern="[a-zA-Z0-9 .,]{0,24}" maxlength="24" />
                            </div>
                        </div>

                        <div *ngIf="tipes[key] == 'boolean'" class="form-group row">
                            <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
                            <div class="col-xs-8">
                                <label class="checkbox-inline"><input type="checkbox" [name]="key" (click)="clRadio(buscado, $event.target.checked, key, true)" [checked]="buscado[key] == true" value=true />Verdadero</label>
                                <label class="checkbox-inline"><input type="checkbox" [name]="key" (click)="clRadio(buscado, $event.target.checked, key, false)" [checked]="buscado[key] == false" value=false />Falso</label>
                            </div>
                        </div>

                        <!--NUMEROS-->
                        <div *ngIf="tipes[key] != 'string' && tipes[key] != 'boolean' && tipes[key] != 'object'" class="form-group row">
                            <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
                            <div class="col-xs-7 col-sm-5 col-md-3">
                                <input type="text" class="form-control" [name]="key" [(ngModel)]="buscado[key]" pattern="[0-9,.]{0,10}" maxlength="10" />
                            </div>
                        </div>
                    </template>
                </form>
            </div>
            <table class="table table-striped">
                <!--CABECERAS, QUE SE CORRESPONDERAN CON EL NOMBRE DE LOS CAMPOS DEL JSON QUE NO SEAN OBJETOS-->
                <thead>
                    <tr *ngIf="datos">
                        <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                            <th *ngIf="tipes[key] != 'object'" ngDefaultControl>{{key}}</th>
                        </template>
                        <template ngFor let-keyH [ngForOf]="keysHijas" let-keyHIndex="index">
                            <th ngDefaultControl>{{keyH}}</th>
                        </template>

                        <th>Opciones</th>
                    </tr>
                </thead>

                <!--VALORES DE LOS RESPECTIVOS CAMPOS-->
                <tbody>
                    <!--Me preocupa que si cambio el *ngFor por ngIf ya no ordene por id, solo apunto para poder recuperar sin buscar versiones previas-->
                    <template ngFor let-post [ngForOf]="datos | sortBy : 'id'">
                        <tr *ngIf="buscar(post)">
                            <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                                <td *ngIf="tipes[key] != 'object'" ngDefaultControl>{{post[key]}}</td>
                            </template>
                            <template ngFor let-keyH [ngForOf]="keysHijas" let-keyHIndex="index">
                                <td *ngIf="tipes[keyH] != 'object'" ngDefaultControl>{{post[sons[keyH]][keyH]}}</td>
                            </template>

                            <td>
                                <button type="button" class="btn btn-warning" (click)="alform(post)">Añadir</button>
                                <button type="button" class="btn btn-warning" (click)="delet(post)">Eliminar</button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <!-- ACABA LA TABLA -->

            <hr>
            <div class="panel-group">
                <div class="panel panel-default">

                    <!--EMPIEZA EL FORMULARIO-->
                    <form #form="ngForm">
                        <my-collap nombre="Campos" id="Campos">
                            <div class="panel-body">
                                <div class="panel panel-default">

                                    <template ngFor let-key [ngForOf]="keys" let-keyIndex="index">
                                        <div *ngIf="tipes[key]=='object'" class="panel panel-default">

                                            <!--AQUI TENEMOS EL CODIGO QUE SE ENCARGARA DE LOS ELEMENTOS DEL JSON QUE SON OBJETOS,
                                            PONIENDOLOS COMO DESPLEGABLES CON SUS ELEMENTOS COMO INPUTS DENTRO DE ESTE-->
                                            <my-collap [nombre]="key" [id]="key">
                                                <div class="panel-body">

                                                    <template ngFor let-keyH [ngForOf]="keysHijas">

                                                        <!--LAS ESTRUCTURAS OBJETOS NO OPCIONALES-->
                                                        <template [ngIf]="sons[keyH] == key && !optionals[key]">

                                                            <!--INPUTS NO OPCIONALES-->
                                                            <template [ngIf]="!optionals[keyH]">

                                                                <!--STRING-->
                                                                <div *ngIf="tipes[keyH] == 'string'" class="form-group row">
                                                                    <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}:<span class="required">*</span> </label>
                                                                    <div class="col-xs-7 col-sm-5 col-md-3">
                                                                        <input type="text" class="form-control" [name]="keyH" [(ngModel)]="test[sons[keyH]][keyH]" pattern="[a-zA-Z0-9 .,]{0,24}" required minlength="4" maxlength="24" #zip="ngModel" />
                                                                        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                            <div [hidden]="!zip.errors.required">
                                                                                El campo es requerido.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.pattern">
                                                                                Use caracteres validos para llenar el formulario.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.minlength">
                                                                                El campo tiene que tener 4 caracteres al menos.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.maxlength">
                                                                                El campo solo puede tener hasta 24 caracteres.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--BOOLEAN-->
                                                                <div *ngIf="tipes[keyH] == 'boolean'" class="form-group row">
                                                                    <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}:<span class="required">*</span> </label>
                                                                    <div class="col-xs-8">
                                                                        <label class="radio-inline"><input type="radio" [name]="keyH" (change)="onCheck(true, keyH)" [checked]="test[sons[keyH]][keyH]" value=true />Verdadero</label>
                                                                        <label class="radio-inline"><input type="radio" [name]="keyH" (change)="onCheck(false, keyH)" [checked]="!test[sons[keyH]][keyH]" value=false />Falso</label>
                                                                    </div>
                                                                </div>

                                                                <!--NUMEROS-->
                                                                <div *ngIf="tipes[keyH] !== 'string' && tipes[keyH] !== 'boolean'" class="form-group row">
                                                                    <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}:<span class="required">*</span> </label>
                                                                    <div class="col-xs-7 col-sm-5 col-md-3">
                                                                        <input type="text" class="form-control" [name]="keyH" pattern="[0-9.]{1,10}" [(ngModel)]="test[sons[keyH]][keyH]" required minlength="1" maxlength="10" #zip="ngModel" />
                                                                        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                            <div [hidden]="!zip.errors.required">
                                                                                El campo es requerido.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.pattern">
                                                                                Use caracteres validos para llenar el formulario.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.minlength">
                                                                                El campo tiene que tener 1 caracteres al menos.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.maxlength">
                                                                                El campo solo puede tener hasta 10 caracteres.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </template>

                                                            <!--INPUTS OPCIONALES-->
                                                            <template [ngIf]="optionals[keyH]">

                                                                <!--STRING-->
                                                                <div *ngIf="tipes[keyH] == 'string'" class="form-group row">
                                                                    <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}: </label>
                                                                    <div class="col-xs-7 col-sm-5 col-md-3">
                                                                        <input type="text" class="form-control" [name]="keyH" [(ngModel)]="test[sons[keyH]][keyH]" pattern="[a-zA-Z0-9 .,]{0,24}" maxlength="24" #zip="ngModel" />
                                                                        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                            <div [hidden]="!zip.errors.pattern">
                                                                                Use caracteres permitidos.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.maxlength">
                                                                                El campo solo puede tener hasta 24 caracteres.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!--BOOLEAN-->
                                                                <div *ngIf="tipes[keyH] == 'boolean'" class="form-group row">
                                                                    <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}:</label>
                                                                    <div class="col-xs-8">
                                                                        <label class="checkbox-inline"><input type="checkbox" [name]="keyH" (click)="clRadio(test[key], $event.target.checked, keyH, true)" [checked]="test[sons[keyH]][keyH]==true" value=true />Verdadero</label>
                                                                        <label class="checkbox-inline"><input type="checkbox" [name]="keyH" (click)="clRadio(test[key], $event.target.checked, keyH, false)" [checked]="test[sons[keyH]][keyH]==false" value=false />Falso</label>
                                                                    </div>
                                                                </div>

                                                                <!--NUMERICO-->
                                                                <div *ngIf="tipes[keyH] !== 'string' && tipes[keyH] !== 'boolean'" class="form-group row">
                                                                    <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}: </label>
                                                                    <div class="col-xs-7 col-sm-5 col-md-3">
                                                                        <input type="text" class="form-control" [name]="keyH" [(ngModel)]="test[sons[keyH]][keyH]" pattern="[0-9.]{,10}" maxlength="10" #zip="ngModel" />
                                                                        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                            <div [hidden]="!zip.errors.pattern">
                                                                                El valor debe ser numerico.
                                                                            </div>
                                                                            <div [hidden]="!zip.errors.maxlength">
                                                                                El campo solo puede tener hasta 10 cifras.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </template>

                                                        </template>
                                                        <!--ACABAN LOS INPUTS HIJOS NO OPCIONALES-->
                                                        <!--LAS ESTRUCTURAS OBJETOS SI SON OPCIONALES-->
                                                        <template [ngIf]="sons[keyH] == key && optionals[key]">

                                                            <!--STRING-->
                                                            <div *ngIf="tipes[keyH] == 'string'" class="form-group row">
                                                                <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}: <span class="required">*</span></label>
                                                                <div class="col-xs-7 col-sm-5 col-md-3">
                                                                    <input type="text" class="form-control" [name]="keyH" [(ngModel)]="test[sons[keyH]][keyH]" pattern="[a-zA-Z0-9 .,]{0,24}" maxlength="24" #zip="ngModel" />
                                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                        <div [hidden]="!zip.errors.pattern">
                                                                            Use caracteres permitidos.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.maxlength">
                                                                            El campo solo puede tener hasta 24 caracteres.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--BOOLEAN-->
                                                            <div *ngIf="tipes[keyH] == 'boolean'" class="form-group row">
                                                                <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}: <span class="required">*</span></label>
                                                                <div class="col-xs-8">

                                                                    <!--Seria conveniente poder cambiar el checkbox para que cuando no tenga ninguno marcado devuelva null-->
                                                                    <label class="checkbox-inline"><input type="checkbox" [name]="keyH" (change)="onCheck(true, keyH)" [checked]="test[sons[keyH]][keyH]" value=true />Verdadero</label>
                                                                    <label class="checkbox-inline"><input type="checkbox" [name]="keyH" (change)="onCheck(false, keyH)" [checked]="test[sons[keyH]][keyH]==false" value=false />Falso</label>
                                                                </div>
                                                            </div>

                                                            <!--NUMERICO-->
                                                            <div *ngIf="tipes[keyH] !== 'string' && tipes[keyH] !== 'boolean'" class="form-group row">
                                                                <label class="col-xs-4 col-sm-2 col-form-label">{{keyH}}: <span class="required">*</span></label>
                                                                <div class="col-xs-7 col-sm-5 col-md-3">
                                                                    <input type="text" class="form-control" [name]="keyH" [(ngModel)]="test[sons[keyH]][keyH]" pattern="[0-9.]{,10}" maxlength="10" #zip="ngModel" />
                                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                                        <div [hidden]="!zip.errors.pattern">
                                                                            El valor debe ser numerico.
                                                                        </div>
                                                                        <div [hidden]="!zip.errors.maxlength">
                                                                            El campo solo puede tener hasta 10 cifras.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </template>
                                                        <!--ACABAN LOS INPUTS HIJOS OPCIONALES-->

                                                    </template>
                                                </div>

                                            </my-collap>
                                        </div>

                                        <!--AQUI IRAN LAS LLAVES DEL NIVEL MAS ALTO QUE NO SEAN OBJETOS, Y SE PONDRAN COMO INPUTS,
                                        EL ID NO LO MOSTRAMOS DEBIDO A QUE LO QUEREMOS PARA IDENTIFICAR EL OBJETO Y NO QUEREMOS QUE SEA EDITABLE-->
                                        <template [ngIf]="tipes[key] != 'object'">

                                            <!--ELEMENTOS DEL PRIMER NIVEL NO OPCIONALES-->
                                            <div *ngIf="key != 'id' && !optionals[key] && tipes[key] == 'string'" class="form-group row">
                                                <label class="col-xs-4 col-sm-2 col-form-label">{{key}}:<span class="required">*</span> </label>
                                                <div class="col-xs-7 col-sm-5 col-md-3">
                                                    <input class="form-control" [name]="key" [(ngModel)]="test[key]" required minlength="4" maxlength="24" #zip="ngModel" />
                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                        <div [hidden]="!zip.errors.required">
                                                            El campo es requerido.
                                                        </div>
                                                        <div [hidden]="!zip.errors.minlength">
                                                            El campo tiene que tener 4 caracteres al menos.
                                                        </div>
                                                        <div [hidden]="!zip.errors.maxlength">
                                                            El campo solo puede tener hasta 24 caracteres.
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <!--ELEMENTOS DEL PRIMER NIVEL OPCIONALES-->
                                            <div *ngIf="key != 'id' && optionals[key]" class="form-group row">
                                                <label class="col-xs-4 col-sm-2 col-form-label">{{key}}: </label>
                                                <div class="col-xs-7 col-sm-5 col-md-3">
                                                    <input class="form-control" [name]="key" [(ngModel)]="test[key]" pattern="[a-zA-Z0-9 .,]{0,24}" maxlength="24" #zip="ngModel" />
                                                    <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                                                        <div [hidden]="!zip.errors.maxlength">
                                                            El campo solo puede tener hasta 24 caracteres.
                                                        </div>
                                                        <div [hidden]="!zip.errors.pattern">
                                                            Use caracteres permitidos.
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </template>

                                    </template>
                                </div>
                            </div>
                        </my-collap>

                        <button type="button" class="btn btn-warning" (click)="addb(test)" [disabled]="!form.valid"> Añadir </button>
                        <button type="button" class="btn btn-warning" (click)="modificar(test)" [disabled]="!form.valid">Modificar</button>
                        <div class="aler alert-danger" [hidden]="validation">
                            Criterios no satisfechos, por favor, no repita titulos.
                        </div>
                    </form>
                    <!-- ACABA EL FORMULARIO -->

                </div>
            </div>
        </div>
    </div>
</div>
