<!--STRING-->
<div *ngIf="tipes[key] == 'string' && key != llave[0]" class="form-group row">
    <label class="col-sm-3 col-form-label">{{key}}:<span class="required">*</span>
        <span *ngIf="campos !== null && (utils.isObject(campos[testid]) && campos[testid][key] == key)" class="glyphicon glyphicon-pushpin"></span>
    </label>
    <div class="col-xs-11 col-sm-6 col-md-4">
        <input type="text" class="form-control" [name]="key" [(ngModel)]="obj[key]" pattern="[a-zA-Z0-9 .,]{0,24}" required minlength="4" maxlength="24" #zip="ngModel" />
        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
            <div [hidden]="!zip.errors.required">
                El campo es requerido.
            </div>
            <div [hidden]="!zip.errors.pattern">
                Use caracteres validos para llenar el formulario s.
            </div>
            <div [hidden]="!zip.errors.minlength">
                El campo tiene que tener 4 caracteres al menos.
            </div>
            <div [hidden]="!zip.errors.maxlength">
                El campo solo puede tener hasta 24 caracteres.
            </div>
        </div>
    </div>
</div>

<div *ngIf="tipes[key] == 'string' && key == llave[0]" class="form-group row">
    <span *ngIf="campos !== null && (utils.isObject(campos[testid]) && campos[testid][key] == key)" class="glyphicon glyphicon-pushpin"></span>
    <label class="col-sm-3 col-form-label">{{key}}: </label>
    <div class="col-xs-11 col-sm-6 col-md-3">
        <div>
            <div id="scrollable-dropdown-menu">
                <input type="text" class="form-control" [name]="key" [(ngModel)]="obj[key]" [typeahead]="statesComplex"
                       typeaheadOptionField="name" typeaheadMinLength="0"
                       pattern="[a-zA-Z0-9 .,]{0,24}" required minlength="4" maxlength="24" #zip="ngModel" (blur)="comprobar()" />
            </div>
            <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
                <div [hidden]="!zip.errors.required">
                    El campo es requerido.
                </div>
                <div [hidden]="!zip.errors.pattern">
                    Use caracteres validos para llenar el formulario s.
                </div>
                <div [hidden]="!zip.errors.minlength">
                    El campo tiene que tener 4 caracteres al menos.
                </div>
                <div [hidden]="!zip.errors.maxlength">
                    El campo solo puede tener hasta 24 caracteres.
                </div>
            </div>
        </div>
    </div>
</div>

<!--BOOLEAN-->
<div *ngIf="tipes[key] == 'boolean'" class="form-group row">
    <label class="col-md-3 col-form-label">{{key}}:<span class="required">*</span> 
        <span *ngIf="campos !== null && (utils.isObject(campos[testid]) && campos[testid][key] == key)" class="glyphicon glyphicon-pushpin"></span>
    </label>
    <div class="col-md-8">
        <label class="radio-inline"><input type="radio" [name]="key" (change)="onCheck(true, key)" [checked]="obj[key]" value=true />Verdadero</label>
        <label class="radio-inline"><input type="radio" [name]="key" (change)="onCheck(false, key)" [checked]="!obj[key]" value=false />Falso</label>
    </div>
</div>

<!--NUMEROS-->
<div *ngIf="tipes[key] !== 'string' && tipes[key] !== 'boolean' && tipes[key] != 'object' && tipes[key] !== 'date'" class="form-group row">
    <label class="col-sm-3 col-form-label">{{key}}:<span class="required">*</span> 
        <span *ngIf="campos !== null && (utils.isObject(campos[testid]) && campos[testid][key] == key)" class="glyphicon glyphicon-pushpin"></span>
    </label>
    <div class="col-xs-11 col-sm-6 col-md-4">
        <input type="text" class="form-control" [name]="key" pattern="[0-9.]{1,10}" [(ngModel)]="obj[key]" required minlength="1" maxlength="10" #zip="ngModel" />
        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
            <div [hidden]="!zip.errors.required">
                El campo es requerido.
            </div>
            <div [hidden]="!zip.errors.pattern">
                Use caracteres validos para llenar el formulario n.
            </div>
            <div [hidden]="!zip.errors.minlength">
                El campo tiene que tener 1 caracteres al menos.
            </div>
            <div [hidden]="!zip.errors.maxlength">
                El campo solo puede tener hasta 10 caracteres.
            </div>
        </div>
    </div>
</div>

<!--DATE-->
<div *ngIf="tipes[key] == 'date'" class="form-group row">
    <span *ngIf="campos !== null && (utils.isObject(campos[testid]) && campos[testid][key] == key)" class="glyphicon glyphicon-pushpin"></span>
    <label class="col-sm-3 col-form-label">{{key}}: </label>
    <div class="col-xs-11 col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" name="day" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required placeholder="YYYY-MM-DD" [(ngModel)]="obj[key]" #zip="ngModel">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="ocultar()"><span class="glyphicon glyphicon-calendar"></span></button>
            </span>
        </div>

        <div *ngIf="zip.errors && (zip.dirty || zip.touched)" class="aler alert-danger">
            <div [hidden]="!zip.errors.pattern">
                Intoduza un afecha valida "año-mes-dia(yyyy-mm-dd)".
            </div>
            <div [hidden]="!zip.errors.required">
                La fecha es requerida.
            </div>
        </div>
    </div>
    <div class="col-xs-11 col-sm-4">
        <date-p [hidden]="ocult" [ocult]="ocult" [dat]="obj[key]" (mandar)="obj[key] = $event" (ocultF)="ocult = $event"></date-p>
    </div>
</div>
